.signin-header {
  color: white;
  padding: 2em 0;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.signup-header {
  color: white;
  padding: 1em 0;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
}

.sign-form {
  animation: fadein 1s linear 1 forwards;
  margin: 5em auto;
  text-align: center;
  width: 250px;
}

.sign-inp {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 5px;
  border: none;
  background: rgb(240, 240, 240);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 230px;
  max-width: 230px;
  max-height: 50px;
}

.sign-btn {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background: var(--main2);
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  cursor: pointer;
  width: 260px;
}

.sign-link {
  color: var(--main2);
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
}

.sign-type-list {
  background: rgb(235, 235, 235);
  padding: 0.5em;
  width: 230px;
  margin: 0 auto;
  border-radius: 5px;
}

.sign-list-item {
  padding: 0.2em;
  margin: 0.2em;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.sign-list-item2 {
  padding: 0.2em;
  margin: 0.2em;
  outline: none;
  transition: 0.5s;
  background: var(--main2);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

@keyframes fadein {
	0% {opacity: 0;}
  50% {opacity: 0;}
	100% {opacity: 1;}
}