.header {
  position: fixed;
  top: 0;
  background-image: linear-gradient(-90deg, var(--main1), var(--main2));
  background-size: 100% auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
}

.header-flex {
  display: flex;
}

.header-profile-name {
  line-height: 1px;
  font-size: 14px;
  color: white;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 70px;
  background: rgb(250, 250, 250);
  width: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px 1px lightgray;
}

.nav-item {
  outline: none;
  width: 50px;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(180, 180, 180);
}

.header-icon {
  margin: 0.5em 0.2em;
  cursor: pointer;
  color: white;
}

.header-icon2 {
  margin: 1em;
  height: 40px;
  cursor: pointer;
}

.header-icon3 {
  margin: 7px 1em;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 0;
}

.nav-item-active {
  outline: none;
  transition: 0.5s;
  color: var(--main2);
}

.nav-item-active img {
  outline: none;
  transition: 0.5s;
  filter: sepia(30%) hue-rotate(190deg) saturate(1000%);
}

.header-menu {
  text-align: left;
  margin: 1em;
}

.header-menu button {
  cursor: pointer;
  background: none;
  font-size: 15px;
  padding: 0.5em;
  border: none;
}

.header-menu-share {
  color: var(--main2);
}

.header-menu-logout {
  color: rgb(226, 74, 74);
}



/*-------------------------------------------profile-------------------------------------------*/

.profile {
  text-align: center;
  margin: 1em;
  margin-top: 0;
  overflow-y: auto;
  max-height: 70vh;
}

.edit-profile {
  text-align: center;
  z-index: 2;
  background: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(82, 82, 82, 0.075);
  font-size: 14px;
  cursor: pointer;
}

.profile-pic {
  margin: 1em;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 10px 1px rgb(220, 220, 220);
}

.profile-button {
  margin: 0.5em;
  padding: 0.1em 1em;
  border-radius: 5px;
  border: none;
  background: white;
  box-shadow: 0px 0px 10px 1px rgb(230, 230, 230);
  color: var(--main2);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.profile-flex-info {
  display: flex;
  justify-content: space-evenly;
}

.profile-flex-info div {
  text-align: center;
  border-radius: 5px;
  width: 100px;
  margin: 0.5em;
  padding: 1px 3px;
  box-shadow: 0px 0px 5px 1px rgb(230, 230, 230);
}

.profile-slide {
  -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: rgb(255, 255, 255);
  position: fixed;
  box-shadow: 0px 10px 20px 1px rgb(212, 212, 212);
  margin: 73px auto 0 auto;
  width: 100%;
  max-width: 600px;
  left: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

/*-----------------------------------------------notification----------------------------------------------*/

.notifications {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  overflow-y: auto;
  max-height: 70vh;
}

.card-notification {
  text-align: left;
  margin: 1em;
  background: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 1px rgb(231, 231, 231);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
}

.notifications-status {
  font-weight: bold;
}

.notifications-time {
  color: rgb(212, 212, 212);
  line-height: 0;
}

.notifications-card-img {
  margin: auto 5px;
  height: 40px;
}

.notifications-delete {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: white;
  font-size: 12px;
  border: none;
  background: rgb(226, 74, 74);
  box-shadow: 0px 0px 5px 1px gainsboro;
  float: right;
  left: 5px;
  border-radius: 5px;
}

.notifications-div-info {
  margin-left: 5px;
  width: 100%;
}

.notifications-slide {
  -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background: rgb(255, 255, 255);
  position: fixed;
  box-shadow: 0px 10px 20px 1px rgb(212, 212, 212);
  margin-top: 73px;
  width: 220px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

.notifications-clear-all {
  outline: none;
  border: none;
  border-radius: 20px;
  background: var(--main2);
  color: white;
  font-family: "Roboto", sans-serif;
  width: 50%;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
}

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
